<!DOCTYPE html>
<html>
  <head>
    <title>Programación II</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>¡Hola mundo!</h1>
    <p>Nombre: Eduin Alfonzo Guevara Aponte</p>
    <p>Cédula: V-32.136.456</p>
    <p>Sección: 3</p>
  </body>
</html>
